* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-container {
    position: relative;
    margin: 10px;
}

img {
    min-width: 100%;
    min-height: 100%;
}

.item-info {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    font-family: 'Dancing Script', cursive;
}

p {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
}
