.item-container {
    position: relative;
}

img {
    position: absolute;
    left: 0;
    top: 0;
}

.item-info {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

p {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
}